@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  scroll-behavior: smooth;
  background: #ffffff;
}

img {
  display: block;
  max-width: 100%;
}

h1,
p,
a,
button {
  font-family: "Inter", sans-serif;
}

/* ширина всего содержимого сайта */
.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  padding: 40px 0;
  margin-bottom: 84px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  /* gap: 460px; */
  align-items: center;
}

.a {
  justify-content: space-between;
}

.fontSizeHeaderDiv {
  display: flex;
  font-weight: 400;
  width: 533px;
  padding: 20px 0px;
}

.navigation a {
  font-size: 16px;
}

.main {
  margin-bottom: 162px;
}

.mainContent {
  display: flex;
  justify-content: space-between;
}

.mainContent__leftSide {
  max-width: 522px;
}

.mainContent__leftSide h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 120%;
  margin-bottom: 20px;
  max-width: 522px;
}

.mainContent__leftSide p {
  color: #888888;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  margin-bottom: 32px;
  max-width: 466px;
}

.mainContent__leftSide-btnList {
  display: flex;
  align-items: center;
  gap: 72px;
}

.mainContent__leftSide-btnList button {
  font-weight: 600;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.footer {
  /* margin-bottom: 100px; */
}

.logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1,
a {
  color: #000000;
}

p {
  color: #888888;
}

.HeadColButFont {
  color: #f25822;
  font-weight: 600;
}

.MainColButBackg1 {
  padding: 16px 31px;
  border-radius: 56px;
  color: #ffffff;
  background: #f25822;
  max-width: 140px;
}
.MainColButBackg2 {
  padding: 16px;
  color: #aaaaaa;
  background: #ffffff;
  max-width: 140px;
}
